@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,700;1,400&display=swap');
@import url(./search.css);
@import url(./banner.css);
@import url(./cards.css);
@import url(./description_button.css);

:root{
    --black: #000000;
    --red: #C02222;
    --gray: #878585;
    --white: white; 
    --black-transparent: rgba(9, 8, 8,0.50);
}

body{
    font-family: 'Work Sans', sans-serif;   
}

.tech{
    color: var(--gray);
}

.card-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
    
}

.verticalMargin{
    margin-top: 10%;
}

.gray-text{
    color: var(--gray);
}

.mobile-icons{
    display: none !important;
}

.center-content{
    display: flex;
    justify-content: center;

}

.center-content img{
    width: 143px;
    height: 217px;
}

@media screen and (max-width: 576px){
    .mobile-icons{
        display: inline-block !important;
    }
    .desktop-icons{
        display: none !important;
    }

}